<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AbakonXVWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AbakonXV.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AbakonXVWPF.Properties.Settings>
            <setting name="_Language" serializeAs="String">
                <value>pl-PL</value>
            </setting>
            <setting name="_DB_server" serializeAs="String">
                <value>Undefined</value>
            </setting>
            <setting name="_DB_user" serializeAs="String">
                <value>Undefined</value>
            </setting>
            <setting name="_DB_Name" serializeAs="String">
                <value>Undefined</value>
            </setting>
            <setting name="_DB_Authetification" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_Port" serializeAs="String">
                <value>5433</value>
            </setting>
            <setting name="_DB_psw" serializeAs="String">
                <value />
            </setting>
            <setting name="_partnerId_DGHeader" serializeAs="String">
                <value />
            </setting>
            <setting name="_partnerCode_DGHeader" serializeAs="String">
                <value />
            </setting>
            <setting name="PathToPatterns" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PathToDocuments_CollectionOfEquipment" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastSelectedPattern_SingleEquipment" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSelectedPattern_CollectionOfEquipment" serializeAs="String">
                <value />
            </setting>
        </AbakonXVWPF.Properties.Settings>
        <AbakonXV.Properties.Settings>
            <setting name="_Language" serializeAs="String">
                <value>pl-PL</value>
            </setting>
            <setting name="_DB_server" serializeAs="String">
                <value>Undefined</value>
            </setting>
            <setting name="_DB_user" serializeAs="String">
                <value>Undefined</value>
            </setting>
            <setting name="_DB_Name" serializeAs="String">
                <value>Undefined</value>
            </setting>
            <setting name="_DB_Authetification" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_Port" serializeAs="String">
                <value>5433</value>
            </setting>
            <setting name="_DB_psw" serializeAs="String">
                <value />
            </setting>
        </AbakonXV.Properties.Settings>
    </userSettings>
</configuration>